body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-center {
	text-align: center;
}

.container {
	min-height: 70vh;
}

.d-flex {
	display: flex;
}

.center {
	justify-content: center;
	align-items: center;
}

.flex-column {
	flex-direction: column;
}

.balance {
	background: rgb(37, 109, 133);
	background: linear-gradient(0deg, rgba(37, 109, 133, 1) 0%, rgba(71, 181, 255, 1) 100%);
	padding: 10px 20px;
	border-radius: 5px;
	color: #eff;
	max-width: 400px;
}

.btn {
	background: rgb(37, 109, 133);
	background: linear-gradient(0deg, rgba(37, 109, 133, 1) 0%, rgba(71, 181, 255, 1) 100%);
	color: #eff;
	border-radius: 5px;
	min-width: 55px;
	padding: 5px 10px;
	border: none;
}

.btn:active {
	background: rgb(37, 109, 133);
	background: linear-gradient(180deg, rgba(37, 109, 133, 1) 0%, rgba(71, 181, 255, 1) 100%);

}

.inputs {
	margin-left: 20px;
	min-height: 85px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.inputs input {
	border: 1px solid #8885;
	border-radius: 10px;
	padding: 5px 10px;
	margin-right: 10px;
}

.inputs input:focus {
	outline: 2px solid #47B5FF;
}
